[submodule "src/scripts/evaluation/MMLU/test"]
	path = src/scripts/evaluation/MMLU/test
	url = https://github.com/hendrycks/test.git
[submodule "src/scripts/evaluation/matthew/lm-evaluation-harness"]
	path = src/scripts/evaluation/matthew/lm-evaluation-harness
	url = https://github.com/AMindToThink/lm-evaluation-harness.git
	branch = sae_steered
[submodule "src/scripts/evaluation/lm-evaluation-harness"]
	path = src/scripts/evaluation/lm-evaluation-harness
	url = https://github.com/AMindToThink/lm-evaluation-harness.git
	branch = sae_steered
[submodule "src/scripts/wmdp"]
	path = src/scripts/wmdp
	url = https://github.com/centerforaisafety/wmdp.git
[submodule "/home/cs29824/matthew/sae_jailbreak_unlearning/src/scripts/evaluation/lm-evaluation-harness"]
	branch = main
